{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    
    {% else %}
        <h1>{{ user_profile.username }}</h1>
        <div id="profile-info">
            <div>Followers: <span id="num-followers">{{ user_profile.followers.count }}</span></div>
            <div>Following: {{ user_profile.following.count }}</div>
            {% if user.username != user_profile.username and user.is_authenticated %}
            <form id="follow-form" method="POST">
                {% csrf_token %}
                {% if is_following %}
                    <input type="submit" id="follow-btn" data-user-id="{{ user_profile.id }}" class="btn btn-primary" value="Unfollow">
                {% else %}
                    <input type="submit" id="follow-btn" data-user-id="{{ user_profile.id }}" class="btn btn-primary" value="Follow">
                {% endif %}
            </form>
            {% endif %}
        </div>
        <div>
            {% include "network/post-block.html" %}
        </div>
    {% endif %}

{% endblock %}