{% extends "network/layout.html" %}

{% block body %}

    {% if message %}
        <div>{{ message }}</div>
    
    {% else %}
        <h1>{{ user_profile.username }}</h1>
        <div>
            <div>Followers: <span id="num-followers">{{ num_followers }}</span></div>
            <div>Following: {{ num_following }}</div>
            {% if user.username != user_profile.username %}
            <form id="follow-form" method="POST">
                {% csrf_token %}
                {% if is_following %}
                    <input type="submit" id="follow-btn" data-user-id="{{ user_profile.id }}" class="btn btn-primary" value="Unfollow">
                {% else %}
                    <input type="submit" id="follow-btn" data-user-id="{{ user_profile.id }}" class="btn btn-primary" value="Follow">
                {% endif %}
            </form>
            {% endif %}
            <div>
                {% for post in posts %}
                    {% include "network/post-block.html" %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}